name: Build and Push Images

on:
  push:
    branches: [main] # Triggers only when you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Run the steps below twice: once for each service
        service: [backend, frontend]

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/${{ matrix.service }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          # This looks into your /backend or /frontend folder based on the matrix
          context: ./${{ matrix.service }}
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/license-plate-${{ matrix.service }}:latest
          # Passing the build arg for the frontend specifically
          build-args: |
            VITE_API_URL=https://api.licenseplate.radrabbit.xyz
